@{
    ViewData["Title"] = "Personal";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="uk-description-list">
        <dt>Username</dt>
        <dd id="user-name"></dd>
        <dt>Email</dt>
        <dd id="user-email"></dd>
    </dl>
</div>

@section Styles
{
    <link rel="stylesheet" href="/dist/styles/pages/personal/personal.min.css" />
}

@section Scripts
{
    <script src="/dist/scripts/pages/personal/personal.min.js"></script>
}
