@model SMIE.DAL.Entities.Video

@{
    ViewData["Title"] = "Watch";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>
    @Model.Description
</p>

<video id='my-video' class='video-js' controls preload='auto' width='640' height='264' poster="@Model.PosterLink" data-setup='{}'>
    <source src="@Model.Link" type='video/mp4'>
    <p class='vjs-no-js'>
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
</video>


