@using SMIE.DAL.Extensions
<nav class="uk-navbar-container" uk-navbar>

    <div class="container app-navbar-container">
        <div class="uk-navbar-left">

            <a asp-area="" asp-controller="Home" asp-action="Index" class="uk-navbar-item uk-logo">
                SMIE
            </a>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">

                @if (User.Identity.IsAuthenticated)
                {
                    @*<li>
                        <a asp-area="" asp-controller="Account" asp-action="Logout">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                            Logout
                        </a>
                    </li>*@

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                            @User.UserName()
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="SignUp">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                            Sign Up
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-in"></span>
                            Login
                        </a>
                    </li>
                }

                @*<li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>*@
            </ul>

        </div>
    </div>

</nav>