@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <span id="catalog-spinner" class="uk-align-center" uk-spinner="ratio: 3"></span>
    <div id="catalog"></div>
</div>

@section Styles
    {
    <link rel="stylesheet" href="/dist/styles/components/catalog/catalog.min.css" />
    <link rel="stylesheet" href="/dist/styles/video-js.min.css" />
}

@section Scripts
    {
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="dist/scripts/components/catalog/catalog.min.js"></script>
    <script src="dist/scripts/video.min.js"></script>
}
