
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="catalog"></div>

@section Styles
{
    <link rel="stylesheet" href="/dist/styles/components/catalog/catalog.min.css" />
}

@section Scripts
{
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="dist/scripts/components/catalog/catalog.min.js"></script>
}
