
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="catalog"></div>

@section Scripts
    {
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script>
        $.get("Catalog/Get")
            .done(function (data) {
                $("#catalog").html(data);
            })
            .fail(function(error) {
                alert("error: " + error);
            });
    </script>

}
