.catalog-item > a:hover {
    text-decoration: none;
}

.catalog-item-title {
    font-weight: bold;
}

.catalog-item-poster {
    width: 100px;
    height: 100px;
}

#catalog-spinner {
    width: 90px;
}