#catalog-spinner {
    width: 90px;
}

.catalog-grid-card {
    cursor: pointer;
    /*background: gainsboro;*/
}

.catalog-item-title {
    font-weight: bold;
}

.catalog-list .catalog-item-poster {
    cursor: pointer;
}

.catalog-list .catalog-item > a:hover {
    text-decoration: none;
}

.catalog-list .catalog-item-poster {
    width: 100px;
    height: 100px;
}