#catalog-spinner {
    width: 90px;
}

.catalog-grid-card {
}

.catalog-item-title {
    font-weight: bold;
}

.catalog-item-poster {
    cursor: pointer;
}

.catalog-list .catalog-item > a:hover {
    text-decoration: none;
}

.catalog-list .catalog-item-poster {
    width: 100px;
    height: 100px;
}

.video-details-label {
    cursor: pointer;
}

.video-details .watch-link-header {
    margin-top: 20px;
    width: 56px;
}