
<div>
    Catalog view
</div>

@section Styles {
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/dist/styles/components/catalog/catalog.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="/dist/scripts/components/catalog/catalog.min.js"></script>
    <script>
        console.log('Catalog component 2');
    </script>
}