@model SMIE.Models.CatalogModel

<div>
    <ul class="uk-list uk-list-divider">
        @foreach (var item in Model.Videos)
        {
            <li class="catalog-item">
                <a href="/Video/@item.Id">
                    <img class="catalog-item-poster" src="@item.PosterLink"/>
                </a>
                <div style="display: inline-block;">
                    <span class="catalog-item-title">@item.Name</span>
                    <div>
                        <span>@item.Description</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
