@model SMIE.Models.CatalogModel

<div>
    <h3>Videos</h3>
    
    <ul class="list-group">
        @foreach (var item in Model.Videos)
        {
        <li class="list-group-item catalog-item">
            <span class="catalog-item-title">@item.Name</span>
            <span>@item.Description</span>
            @*<a asp-area="" asp-controller="Video" asp-action="Watch" asp-route-model="@item">Watch</a>*@
            @*@Html.ActionLink("Watch", "Watch", "Video", item, null)*@
            <a href="/Video/@item.Id">Watch</a>
        </li>
        }
    </ul>
</div>
