
@{
    ViewData["Title"] = "SignUpSuccess";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>Registration was successful, now you can <a asp-area="" asp-controller="Account" asp-action="Login">login</a></p>

