@model SMIE.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>Sign Up</h2>

<form class="uk-form-stacked" asp-action="SignUp" asp-controller="Account" asp-anti-forgery="true">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="uk-margin">
            <label asp-for="Email" class="uk-form-label">Email</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" asp-for="Email" />
            </div>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="uk-margin">
            <label asp-for="Password" class="uk-form-label">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Password" />
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="uk-margin">
            <label asp-for="ConfirmPassword" class="uk-form-label">Confirm password</label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="ConfirmPassword" />
            </div>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Sign Up" class="uk-button uk-button-primary sign-up-btn" />
        </div>
    </div>
</form>

@section Styles {
    <link href="/dist/styles/pages/sign-up/sign-up.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}